/* #login-form
{
    display: none;
    z-index: 1;
} */
.adminform-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.adminbutton-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.admintoggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#adminbtn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.admininput-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.admininput-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.admininput-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid black;
	outline:none;
	background: transparent;
}
.adminsubmit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.admincheck-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color: black;
	font-size:12px;
	bottom:68px;
	position:absolute;
	margin-left: 18px;
}
#adminlogin
{
	left:50px;
}
#adminlogin input
{
	color:white;
	font-size:15;
}
#adminregister
{
	left:450px;
}
#adminregister input
{
	color:white;
	font-size: 15;
}


.adminloginbtn{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    background-color: transparent; /* Set your desired background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adminloginbtn:hover {
    /* background-color: #0056b3; Set your desired hover background color */
    color: goldenrod;
}



.adminloginbtn1{
    display: inline-block;
    /* padding: 10px 20px; */
    /* text-align: center; */
    color: purple;
    background-color: transparent; /* Set your desired background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.adminloginf{
	display: flex;
	flex-direction: row;
	/* justify-content: space-evenly; */
	gap: 148px;
}
